<div class="row justify-content-center mt-3">
    <div class="col-12 col-md-4 mt-3">
        <div class="card shadow">
            <div class="container text-center">
                <img src="/assets/button.png" style="width: 100px;" alt="loginImage" 
                class="img-fluid mt-3">
            </div> 
            <h2 class="text-center mt-1">Add Movie</h2>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="movieName" class="form-label">Movie Name:</label>
                        <input type="text" required class="form-control" [(ngModel)]="movie.id.movieName" 
                        name="movieName" id="movieName">
                    </div>
                    <br>
                    <div class="form-group mb-3">
                        <label for="theatherName" class="form-label">Theather Name:</label>
                        <input type="text" required class="form-control" [(ngModel)]="movie.id.theatherName" 
                        name="theatherName" id="theatherName">
                    </div> 
                    <br>
                    <div class="form-group mb-3">
                        <label for="allotedSeats" class="form-label">Alloted Seats:</label>
                        <input type="number" required class="form-control" [(ngModel)]="movie.allotedSeats" 
                        name="allotedSeats" id="allotedSeats">
                    </div>
                    <br>
                    <span *ngIf="successMessage" style="color: green;">Movie added successfully !! <span (click)="removeMessage()">X</span></span> 
                    <div class="text-center">
                        
                        <button type="submit" class="form-group btn btn-dark px-4">Add Movie</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>