<div class="row justify-content-center mt-3">
    <div class="col-12 col-md-4 mt-3">
        <div class="card shadow"> 
            <div class="container text-center">
                <img src="/assets/reload.png" style="width: 100px;" alt="loginImage" 
                class="img-fluid mt-3">
            </div> 
            <h2 class="text-center mt-2">Reset Password</h2>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email ID:</label>
                        <input type="email" class="form-control" [(ngModel)]="ForgotPasswordDTO.email" name="email" id="email">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" [(ngModel)]="ForgotPasswordDTO.newPassword" name="password" id="password">
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password:</label>
                        <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="form-group btn btn-dark px-4">Reset</button>
                        <p class="mt-2">Back to <a routerLink="/login">login Page.</a></p>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>